// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-wrapper {
  position: relative;

  .chat-box {
    bottom: 0;
    position:absolute;
    right: 25px;
    width: 300px;

    .box {
      margin-bottom: 0;
    }

    .box-body {
      display: none;
    }
  }
}
